@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --silver: #c5c5c5ff;
  --iron-grey: #4c5b61ff;
  --grey-olive: #829191ff;
  --grey-olive-2: #949b96ff;
  --dark-slate-grey: #2c423fff;
}

header {
  background-color: var(--grey-olive);
  padding: 50px;

  h1 {
    text-align: center;
  }
}

main {
  margin: 0 auto;
  width: min(100%, 1400px);
  padding: 20px;
  background-color: var(--silver);
}

footer {
  background-color: var(--grey-olive);
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  ul {
    list-style-position: inside;
  }
}

#recepe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.recepe-card {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-slate-grey);
  color: white;
  transition: all 0.3s ease;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }

  & > div {
    padding: 10px;
  }

  img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
}

html {
  scroll-behavior: smooth;
}

#apfel,
#rhabarber {
  #apfel-header,
  #rhabarber-header {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-weight: bold;
    }

    img {
      box-shadow: 3px 3px 3px var(--dark-slate-grey);
      border-radius: 5px;
    }
  }

  div {
    margin: 5px;
  }

  h1,
  h2,
  h3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ul,
  ol {
    list-style-position: inside;

    & ul,
    ol {
      margin-left: 20px;
    }
  }
}

#two-grid-layout {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
